<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!--Sets connection string-->
  <connectionStrings>
    <add name="AzureDB" connectionString="Data Source = myservertobbe.database.windows.net; Initial Catalog = MyDatabaseTobbe; User ID = Tobbe3108; Password = 79IufLyBi%Msn28; Connect Timeout = 60; Encrypt = True; TrustServerCertificate = False; ApplicationIntent = ReadWrite; MultiSubnetFailover = False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>