<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataAccesLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DataAccesLayer.Properties.Settings.mydatabasetobbeConnectionString"
            connectionString="Data Source=myservertobbe.database.windows.net;Initial Catalog=mydatabasetobbe;User ID=GuestLogin;Password=Zxasqw12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <DataAccesLayer.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=tcp:tonur.database.windows.net;Initial Catalog=EAL;Persist Security Info=False;User ID=GuestLogin;Password=Zxasqw12;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</value>
            </setting>
        </DataAccesLayer.Properties.Settings>
    </applicationSettings>
</configuration>